## 1. Introduction to Python

### a. Basics

#### i. Variables

In [ ]:
x = 10

#### ii. Type of the variable

In [ ]:
type(x)

### b. Lists

#### i. Lists

#### ii. Sub-lists

#### iii. Sub-setting lists

In [ ]:
house = [["hallway", 11.25],
         ["kitchen", 18.0],
         ["living room", 20.0],
         ["bedroom", 10.75],
         ["bathroom", 9.50]]

# Subset the house list
house[4][1]

#### iv. Slicing 
 
 - my_list[start:end]

In [ ]:
# Create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Use slicing to create downstairs
downstairs = areas[:6]

# Use slicing to create upstairs
upstairs = areas[-4:]

# Print out downstairs and upstairs
print(downstairs)
print(upstairs)

#### v. Replacing elements or adding elements or deleting elements

In [ ]:
areas[9] = 10.5

In [ ]:
areas_1 = areas + ["poolhouse", 24.5]

In [ ]:
del areas[10:12]

### c. Functions

#### i. Sorting a list

In [ ]:
# Create lists first and second
first = [11.25, 18.0, 20.0]
second = [10.75, 9.50]

# Paste together first and second: full
full = first + second

# Sort full in descending order: full_sorted
full_sorted = sorted(full, reverse = True)

# Print out full_sorted
print(full_sorted)

#### ii. String Methods

In [ ]:
# string to experiment with: place
place = "poolhouse"

# Use upper() on place
place_up = place.upper()

# Print out the number of o's in place
print(place.count("o"))

### d. Numpy

#### i. Creating 2D numpy array 
 - Helps perform calculations element by element

In [ ]:
# Import numpy
import numpy as np

# Create a numpy array from height_in: np_height_in
np_height_in = np.array(height_in)

#### ii. Basic statistics

In [ ]:
import numpy as np
print(np_baseball)
# Create np_height_in from np_baseball
np_height_in = np.array(np_baseball[:,0])

# Print out the mean of np_height_in
print(np.mean(np_height_in))

# Print out the median of np_height_in
print(np.median(np_height_in))

## 2. Intermediate Python

### a. Matplotlib

#### i. line plot

In [ ]:
# Print the last item from year and pop
print(year[-1])
print(pop[-1])


# Import matplotlib.pyplot as plt
import matplotlib.pyplot as plt

# Make a line plot: year on the x-axis, pop on the y-axis
plt.plot(year,pop)

# Display the plot with plt.show()
plt.show()

<img src="/Users/sidharthrao/Documents/Documents - Sidharth’s MacBook Pro/GitHub/Important_Scripts-Practice/DataCamp - Practice/Images/linePLot.svg" width="500" height="300" alt="Description">

#### ii. Scatter PLot

In [ ]:
# Build Scatter plot
plt.scatter(pop, life_exp)

plt.show()

<img src="/Users/sidharthrao/Documents/Documents - Sidharth’s MacBook Pro/GitHub/Important_Scripts-Practice/DataCamp - Practice/Images/Scatter.svg" width="500" height="300" alt="Description">

#### iii. Histogram

In [ ]:
# Create histogram of life_exp data
plt.hist(life_exp)

# Display histogram
plt.show()

<img src="/Users/sidharthrao/Documents/Documents - Sidharth’s MacBook Pro/GitHub/Important_Scripts-Practice/DataCamp - Practice/Images/Hist.svg" width="500" height="300" alt="Description">

In [ ]:
# Histogram of life_exp, 15 bins
plt.hist(life_exp, bins = 15)

# Show and clear plot
plt.show()
plt.clf()

# Histogram of life_exp1950, 15 bins
plt.hist(life_exp1950, bins = 15)

# Show and clear plot again
plt.show()
plt.clf()

<img src="/Users/sidharthrao/Documents/Documents - Sidharth’s MacBook Pro/GitHub/Important_Scripts-Practice/DataCamp - Practice/Images/HistBins.svg" width="500" height="300" alt="Description">

#### iv. Labelling convention

In [ ]:
# Scatter plot
plt.scatter(x = gdp_cap, y = life_exp, s = np.array(pop) * 2, c = col, alpha = 0.8)

# Previous customizations
plt.xscale('log') 
plt.xlabel('GDP per Capita [in USD]')
plt.ylabel('Life Expectancy [in years]')
plt.title('World Development in 2007')
plt.xticks([1000,10000,100000], ['1k','10k','100k'])

# Additional customizations
plt.text(1550, 71, 'India')
plt.text(5700, 80, 'China')

# Add grid() call
plt.grid(True)

# Show the plot
plt.show()

### b. Dictionaries & Pandas

``` 
my_dict = {
   "key1":"value1",
   "key2":"value2",
}
```

#### i. Accessing Keys

In [ ]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin', 'norway':'oslo' }

# Print out the keys in europe
print(europe.keys())

#### ii. Deleting key and value

In [ ]:
del(europe["spain"])

#### iii. Dict to DataFrame

In [ ]:
# Pre-defined lists
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

# Import pandas as pd
import pandas as pd

# Create dictionary my_dict with three key:value pairs: my_dict
my_dict = {'country':names,'drives_right':dr,'cars_per_cap':cpc}

# Build a DataFrame cars from my_dict: cars
cars = pd.DataFrame(my_dict)

# Print cars
print(cars)

# Definition of row_labels
row_labels = ['US', 'AUS', 'JPN', 'IN', 'RU', 'MOR']

# Specify row labels of cars
cars.index = row_labels

#### iv. Reading files

In [ ]:
# Fix import by including index_col
cars = pd.read_csv('cars.csv', index_col = 0)

#### v. Accessing portion of data as Series or Dataframe

In [ ]:
# Print out country column as Pandas Series
print(cars["country"])

# Print out country column as Pandas DataFrame
print(cars[["country"]])

# Print out DataFrame with country and drives_right columns
print(cars[["country","drives_right"]])

#Or 
# Print out first 3 observations
print(cars[0:3])

#### vi. Accessing portion of data with .loc or .iloc

```
Starts with Rows and column 

cars.loc[['IN', 'RU'], 'cars_per_cap']
cars.iloc[[3, 4], 0]
```

In [ ]:
# Print out observations for Australia and Egypt 
print(cars.loc[["AUS","EG"]]) # AUS and EG are index

#### vii. Access all rows but only with selected column

```
: -> to select all the rows
```

In [ ]:
cars.loc[:, ['country','drives_right']]
cars.iloc[:, [1, 2]]

### c. Logic, Control flow and Filtering

#### i. Comparison operators

```
== 
!=
<
>
=<
>=

```

#### ii. Boolean Operator

```
True -> 0
False -> 1
```

#### iv. And, Or operator through numpy

In [ ]:
my_house = np.array([18.0, 20.0, 10.75, 9.50])
your_house = np.array([14.0, 24.0, 14.25, 9.0])

# my_house greater than 18.5 or smaller than 10
print(np.logical_or(my_house > 18.5, my_house < 10))

# Both my_house and your_house smaller than 11
print(np.logical_and(my_house < 11, your_house < 11))

In [ ]:
cars = pd.read_csv('cars.csv', index_col = 0)

# Create medium: observations with cars_per_cap between 100 and 500
cpc = cars['cars_per_cap']
between = np.logical_and(cpc > 100, cpc < 500)
medium = cars[between]

#### v. if, elif, else

In [ ]:
area = 10.0
if(area < 9) :
    print("small")
elif(area < 12) :
    print("medium")
else :
    print("large")

#### vi. While Loop

The while loop is like a repeated if statement. The code is executed over and over again, as long as the condition is ```True```.

``` 
while condition :
    expression
```

In [ ]:
# Initialize offset
offset = -6

# Code the while loop
while offset != 0 :
    print("correcting...")
    if offset > 0 :
      offset = offset - 1
    else : 
      offset = offset + 1    
    print(offset)

#### vii. Loop

In [ ]:
# areas list
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Code the for loop
for i in areas:
    print(i)

a. Loop over multiple lists

In [ ]:
# house list of lists
house = [["hallway", 11.25], 
         ["kitchen", 18.0], 
         ["living room", 20.0], 
         ["bedroom", 10.75], 
         ["bathroom", 9.50]]
         
# Build a for loop from scratch
for i in house:
    room_name = i[0]
    room_area = i[1]
    print("the " + room_name + " is " + str(room_area) + " sqm")

b. loop over dict

In [ ]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw', 'austria':'vienna' }
          
# Iterate over europe

for k, v in europe.items():
    print("the capital of " + str(k) + " is " + str(v))

c. Loop over numpy array
 - 1D array and
 - 2D array

In [ ]:
# Import numpy as np
import numpy as np

# For loop over np_height
for i in np_height:
    print(str(i) + " inches") # This is for 1D array

# For loop over np_baseball
for i in np.nditer(np_baseball):# This is for 2D array | we use np.nditer() to iterate over 2D array
    print(i)

d. ***Loop over a DataFrame*** -> we use iterrows()


 - DataFrame.iterrows() yields pairs: (index_label, row_series).

In [ ]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)
print(cars)
# Iterate over rows of cars

for label, row in cars.iterrows():
    print(label)
    print(row)

Use a for loop to add a new column, named COUNTRY, that contains a uppercase version of the country names in the "country" column. You can use the string method upper() for this.

In [ ]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Code for loop that adds COUNTRY column
for lab, row in car.itterows():
    cars.loc[lab, "COUNTRY"] = row["country"].upper


# Print cars
print(cars)

Vectorize operators for above with simple code below

In [ ]:
cars["COUNTRY"] = cars["country"].str.upper()

```
What enumerate() does

Signature: enumerate(iterable, start=0) -> It returns an iterator that yields pairs (index, value) for each item in the iterable.

By default, indexing starts at 0

```

In [ ]:
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

for index, a in enumerate(areas, start=1):
    print("room " + str(index) + ": " + str(a))

## 3. Data Manipulation with Pandas

https://app.datacamp.com/learn/courses/data-manipulation-with-pandas

## Chapter 4 - Joining

#### d. Merging Ordered and Time-Series Data