## 1. Introduction to Python

### a. Basics

#### i. Variables

In [ ]:
x = 10

#### ii. Type of the variable

In [ ]:
type(x)

### b. Lists

#### i. Lists

#### ii. Sub-lists

#### iii. Sub-setting lists

In [ ]:
house = [["hallway", 11.25],
         ["kitchen", 18.0],
         ["living room", 20.0],
         ["bedroom", 10.75],
         ["bathroom", 9.50]]

# Subset the house list
house[4][1]

#### iv. Slicing 
 
 - my_list[start:end]

In [ ]:
# Create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Use slicing to create downstairs
downstairs = areas[:6]

# Use slicing to create upstairs
upstairs = areas[-4:]

# Print out downstairs and upstairs
print(downstairs)
print(upstairs)

#### v. Replacing elements or adding elements or deleting elements

In [ ]:
areas[9] = 10.5

In [ ]:
areas_1 = areas + ["poolhouse", 24.5]

In [ ]:
del areas[10:12]

### c. Functions

#### i. Sorting a list

In [ ]:
# Create lists first and second
first = [11.25, 18.0, 20.0]
second = [10.75, 9.50]

# Paste together first and second: full
full = first + second

# Sort full in descending order: full_sorted
full_sorted = sorted(full, reverse = True)

# Print out full_sorted
print(full_sorted)

#### ii. String Methods

In [ ]:
# string to experiment with: place
place = "poolhouse"

# Use upper() on place
place_up = place.upper()

# Print out the number of o's in place
print(place.count("o"))

### d. Numpy

#### i. Creating 2D numpy array 
 - Helps perform calculations element by element

In [ ]:
# Import numpy
import numpy as np

# Create a numpy array from height_in: np_height_in
np_height_in = np.array(height_in)

#### ii. Basic statistics

In [ ]:
import numpy as np
print(np_baseball)
# Create np_height_in from np_baseball
np_height_in = np.array(np_baseball[:,0])

# Print out the mean of np_height_in
print(np.mean(np_height_in))

# Print out the median of np_height_in
print(np.median(np_height_in))

## 2. Intermediate Python

### a. Matplotlib

#### i. line plot

In [ ]:
# Print the last item from year and pop
print(year[-1])
print(pop[-1])


# Import matplotlib.pyplot as plt
import matplotlib.pyplot as plt

# Make a line plot: year on the x-axis, pop on the y-axis
plt.plot(year,pop)

# Display the plot with plt.show()
plt.show()

<img src="/Users/sidharthrao/Documents/Documents - Sidharth’s MacBook Pro/GitHub/Important_Scripts-Practice/1. DataCamp - Practice/Images/linePLot.svg" width="500" height="300" alt="Description">

#### ii. Scatter PLot

In [ ]:
# Build Scatter plot
plt.scatter(pop, life_exp)

plt.show()

<img src="/Users/sidharthrao/Documents/Documents - Sidharth’s MacBook Pro/GitHub/Important_Scripts-Practice/1. DataCamp - Practice/Images/Scatter.svg" width="500" height="300" alt="Description">

#### iii. Histogram

In [ ]:
# Create histogram of life_exp data
plt.hist(life_exp)

# Display histogram
plt.show()

<img src="/Users/sidharthrao/Documents/Documents - Sidharth’s MacBook Pro/GitHub/Important_Scripts-Practice/1. DataCamp - Practice/Images/Hist.svg" width="500" height="300" alt="Description">

In [ ]:
# Histogram of life_exp, 15 bins
plt.hist(life_exp, bins = 15)

# Show and clear plot
plt.show()
plt.clf()

# Histogram of life_exp1950, 15 bins
plt.hist(life_exp1950, bins = 15)

# Show and clear plot again
plt.show()
plt.clf()

<img src="/Users/sidharthrao/Documents/Documents - Sidharth’s MacBook Pro/GitHub/Important_Scripts-Practice/1. DataCamp - Practice/Images/HistBins.svg" width="500" height="300" alt="Description">

#### iv. Labelling convention

In [ ]:
# Scatter plot
plt.scatter(x = gdp_cap, y = life_exp, s = np.array(pop) * 2, c = col, alpha = 0.8)

# Previous customizations
plt.xscale('log') 
plt.xlabel('GDP per Capita [in USD]')
plt.ylabel('Life Expectancy [in years]')
plt.title('World Development in 2007')
plt.xticks([1000,10000,100000], ['1k','10k','100k'])

# Additional customizations
plt.text(1550, 71, 'India')
plt.text(5700, 80, 'China')

# Add grid() call
plt.grid(True)

# Show the plot
plt.show()

### b. Dictionaries & Pandas

``` 
my_dict = {
   "key1":"value1",
   "key2":"value2",
}
```

#### i. Accessing Keys

In [ ]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin', 'norway':'oslo' }

# Print out the keys in europe
print(europe.keys())

#### ii. Deleting key and value

In [ ]:
del(europe["spain"])

#### iii. Dict to DataFrame

In [ ]:
# Pre-defined lists
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

# Import pandas as pd
import pandas as pd

# Create dictionary my_dict with three key:value pairs: my_dict
my_dict = {'country':names,'drives_right':dr,'cars_per_cap':cpc}

# Build a DataFrame cars from my_dict: cars
cars = pd.DataFrame(my_dict)

# Print cars
print(cars)

# Definition of row_labels
row_labels = ['US', 'AUS', 'JPN', 'IN', 'RU', 'MOR']

# Specify row labels of cars
cars.index = row_labels

#### iv. Reading files

In [ ]:
# Fix import by including index_col
cars = pd.read_csv('cars.csv', index_col = 0)

#### v. Accessing portion of data as Series or Dataframe

In [ ]:
# Print out country column as Pandas Series
print(cars["country"])

# Print out country column as Pandas DataFrame
print(cars[["country"]])

# Print out DataFrame with country and drives_right columns
print(cars[["country","drives_right"]])

#Or 
# Print out first 3 observations
print(cars[0:3])

#### vi. Accessing portion of data with .loc or .iloc

```
Starts with Rows and column 

cars.loc[['IN', 'RU'], 'cars_per_cap']
cars.iloc[[3, 4], 0]
```

In [ ]:
# Print out observations for Australia and Egypt 
print(cars.loc[["AUS","EG"]]) # AUS and EG are index

#### vii. Access all rows but only with selected column

```
: -> to select all the rows
```

In [ ]:
cars.loc[:, ['country','drives_right']]
cars.iloc[:, [1, 2]]

### c. Logic, Control flow and Filtering

#### i. Comparison operators

```
== 
!=
<
>
=<
>=

```

#### ii. Boolean Operator

```
True -> 0
False -> 1
```

#### iv. And, Or operator through numpy

In [ ]:
my_house = np.array([18.0, 20.0, 10.75, 9.50])
your_house = np.array([14.0, 24.0, 14.25, 9.0])

# my_house greater than 18.5 or smaller than 10
print(np.logical_or(my_house > 18.5, my_house < 10))

# Both my_house and your_house smaller than 11
print(np.logical_and(my_house < 11, your_house < 11))

In [ ]:
cars = pd.read_csv('cars.csv', index_col = 0)

# Create medium: observations with cars_per_cap between 100 and 500
cpc = cars['cars_per_cap']
between = np.logical_and(cpc > 100, cpc < 500)
medium = cars[between]

#### v. if, elif, else

In [ ]:
area = 10.0
if(area < 9) :
    print("small")
elif(area < 12) :
    print("medium")
else :
    print("large")

#### vi. While Loop

The while loop is like a repeated if statement. The code is executed over and over again, as long as the condition is ```True```.

``` 
while condition :
    expression
```

In [ ]:
# Initialize offset
offset = -6

# Code the while loop
while offset != 0 :
    print("correcting...")
    if offset > 0 :
      offset = offset - 1
    else : 
      offset = offset + 1    
    print(offset)

#### vii. Loop

In [ ]:
# areas list
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Code the for loop
for i in areas:
    print(i)

a. Loop over multiple lists

In [ ]:
# house list of lists
house = [["hallway", 11.25], 
         ["kitchen", 18.0], 
         ["living room", 20.0], 
         ["bedroom", 10.75], 
         ["bathroom", 9.50]]
         
# Build a for loop from scratch
for i in house:
    room_name = i[0]
    room_area = i[1]
    print("the " + room_name + " is " + str(room_area) + " sqm")

b. loop over dict

In [ ]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw', 'austria':'vienna' }
          
# Iterate over europe

for k, v in europe.items():
    print("the capital of " + str(k) + " is " + str(v))

c. Loop over numpy array
 - 1D array and
 - 2D array

In [ ]:
# Import numpy as np
import numpy as np

# For loop over np_height
for i in np_height:
    print(str(i) + " inches") # This is for 1D array

# For loop over np_baseball
for i in np.nditer(np_baseball):# This is for 2D array | we use np.nditer() to iterate over 2D array
    print(i)

d. ***Loop over a DataFrame*** -> we use iterrows()


 - DataFrame.iterrows() yields pairs: (index_label, row_series).

In [ ]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)
print(cars)
# Iterate over rows of cars

for label, row in cars.iterrows():
    print(label)
    print(row)

Use a for loop to add a new column, named COUNTRY, that contains a uppercase version of the country names in the "country" column. You can use the string method upper() for this.

In [ ]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Code for loop that adds COUNTRY column
for lab, row in car.itterows():
    cars.loc[lab, "COUNTRY"] = row["country"].upper


# Print cars
print(cars)

Vectorize operators for above with simple code below

In [ ]:
cars["COUNTRY"] = cars["country"].str.upper()

```
What enumerate() does

Signature: enumerate(iterable, start=0) -> It returns an iterator that yields pairs (index, value) for each item in the iterable.

By default, indexing starts at 0

```

In [ ]:
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

for index, a in enumerate(areas, start=1):
    print("room " + str(index) + ": " + str(a))

## 3. Data Manipulation with Pandas

### a. Transforming Data Frames

#### i. Understanding data

In [ ]:
# Print the head of the homelessness data
print(homelessness.head())

# Print information about homelessness
print(homelessness.info())

# Print the shape of homelessness
print(homelessness.shape)

# Print a description of homelessness
print(homelessness.describe())

#### ii. Sorting

Single column vs Multiple columns

```


one column       ->	df.sort_values("breed")
multiple columns ->	df.sort_values(["breed", "weight_kg"])


```

In [ ]:
# Sort homelessness by individuals
homelessness_ind = homelessness.sort_values("individuals")

# Sort homelessness by descending family members
homelessness_fam = homelessness.sort_values("family_members", ascending = False)

# Sort homelessness by region, then descending family members
homelessness_reg_fam = homelessness.sort_values(["region","family_members"], ascending=[True, False])

#### iii. Selecting columns

In [ ]:
# As series
individuals = homelessness["individuals"]

# As dataframe
ind_subset = homelessness[["individuals","region","state"]]

# Subset with .loc
ind_subset = homelessness.loc[:, ["individuals","region","state"]]

#### iv. Filtering rows

In [ ]:
# Filter for rows where individuals is greater than 10000
ind_gt_10k = homelessness[homelessness["individuals"] > 10000]
# Filter for rows where region is Mountain
mountain_reg = homelessness[homelessness["region"] == "Mountain"]

# Filter for rows where family_members is less than 1000 and region is Pacific
fam_lt_1k_pac = homelessness[(homelessness["family_members"] < 1000) &(homelessness["region"] == "Pacific")]

#### v. Subsetting Rows by categorised

In [ ]:
# The Mojave Desert states
canu = ["California", "Arizona", "Nevada", "Utah"]

# Filter for rows in the Mojave Desert states
mojave_homelessness = homelessness[homelessness["state"].isin(canu)]

#### vi. Adding New column

In [ ]:
# Add total col as sum of individuals and family_members
homelessness["total"] =  homelessness["individuals"] + homelessness["family_members"]

# Add p_homeless col as proportion of total homeless population to the state population
homelessness["p_homeless"] = homelessness["total"]/homelessness["state_pop"]

#### vii. Activity :

In [ ]:
# Create indiv_per_10k col as homeless individuals per 10k state pop
homelessness["indiv_per_10k"] = 10000 * homelessness["individuals"] / homelessness["state_pop"] 

# Subset rows for indiv_per_10k greater than 20
high_homelessness = homelessness[homelessness["indiv_per_10k"] > 20]

# Sort high_homelessness by descending indiv_per_10k
high_homelessness_srt = high_homelessness.sort_values("indiv_per_10k", ascending=False)

# From high_homelessness_srt, select the state and indiv_per_10k cols
result = high_homelessness_srt[["state", "indiv_per_10k" ]]

### b. Aggregating DataFrame

#### i. Summary Statistics

In [ ]:
# Print the mean of weekly_sales
print(sales["weekly_sales"].mean())

# Print the median of weekly_sales
print(sales["weekly_sales"].median())

# Print the maximum of the date column
print(sales["date"].max())

# Print the minimum of the date column
print(sales["date"].min())

#### ii. Computing IQR

In [ ]:
# A custom IQR function
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)
    
# Print IQR of the temperature_c column
print(sales["temperature_c"].agg(iqr))

# Update to print IQR of temperature_c, fuel_price_usd_per_l, & unemployment
print(sales[["temperature_c", "fuel_price_usd_per_l", "unemployment"]].agg(iqr))

In [ ]:
# Update to print IQR and median of temperature_c, fuel_price_usd_per_l, & unemployment
print(sales[["temperature_c", "fuel_price_usd_per_l", "unemployment"]].agg([iqr,np.median]))

#### iii. Cummulative Sum

Remember - Date should be sorted Ascending for the cummulative to work

In [ ]:
# Sort sales_1_1 by date
sales_1_1 = sales_1_1.sort_values("date")

# Get the cumulative sum of weekly_sales, add as cum_weekly_sales col
sales_1_1["cum_weekly_sales"] = sales_1_1["weekly_sales"].cumsum()

In [ ]:
# Get the cumulative max of weekly_sales, add as cum_max_sales col
sales_1_1["cum_max_sales"] = sales_1_1["weekly_sales"].cummax()

#### iv. Dropping duplicates

In [ ]:
# Drop duplicate store/type combinations
store_types = sales.drop_duplicates(["store", "type"])
print(store_types.head())

# Drop duplicate store/department combinations
store_depts = sales.drop_duplicates(["store", "department"])
print(store_depts.head())

# Subset the rows where is_holiday is True and drop duplicate dates
holiday_dates = sales[sales["is_holiday"]].drop_duplicates("date")

# Print date col of holiday_dates
print(holiday_dates)

#### v. Counting Categorical variables

In [ ]:
# Count the number of stores of each type
store_counts = store_types["type"].value_counts()
print(store_counts)

# Get the proportion of stores in each department and sort
dept_props_sorted = store_depts["department"].value_counts(sort=True, normalize=True)
print(dept_props_sorted)

#### vi. Grouped Summary statistics - Group by

In [ ]:
# Group by type; calc total weekly sales
sales_by_type = sales.groupby("type")["weekly_sales"].sum()

# For each store type, aggregate unemployment and fuel_price_usd_per_l: get min, max, mean, and median
unemp_fuel_stats = sales.groupby("type")[["unemployment","fuel_price_usd_per_l"]].agg([min, max, np.mean, np.median])


# Get proportion for each type
sales_propn_by_type = sales_by_type / sum(sales["weekly_sales"])

#### vii. Pivot table

In [ ]:
# Pivot for mean weekly_sales for each store type
mean_sales_by_type = sales.pivot_table(values="weekly_sales",index="type")

# Pivot for mean and median weekly_sales for each store type
mean_med_sales_by_type = sales.pivot_table(index = "type",values = "weekly_sales", aggfunc = [np.mean, np.median])

# Pivot for mean weekly_sales by store type and holiday 
mean_sales_by_type_holiday = sales.pivot_table(index = "type", values = "weekly_sales", columns = "is_holiday")

#handling missing values
print(sales.pivot_table(index = "type", columns = "department", values="weekly_sales", fill_value = 0))


# Summarizing all rows and columns
print(sales.pivot_table(values="weekly_sales", index="department", columns="type", fill_value = 0, margins = True))

In [ ]:
# Pivot avg_temp_c by country and city vs year
temp_by_country_city_vs_year = temperatures.pivot_table(values = "avg_temp_c", index = ['country', 'city'], columns = "year")

<img src="/Users/sidharthrao/Documents/Documents - Sidharth’s MacBook Pro/GitHub/Important_Scripts-Practice/1. DataCamp - Practice/Images/Pivot table.png" width="500" height="300" alt="Description">

### c. Slicing and Indexing DataFrame

#### i. Setting and removing indexes

In [ ]:
# Set the index of temperatures to city
temperatures_ind = temperatures.set_index("city")

# Reset the temperatures_ind index, keeping its contents
print(temperatures_ind.reset_index())

# Reset the temperatures_ind index, dropping its contents
print(temperatures_ind.reset_index(drop=True))

#### ii. using .isin() and .loc

In [ ]:
# Make a list of cities to subset on
cities = ["Moscow", "Saint Petersburg"]

# Subset temperatures using square brackets
print(temperatures[temperatures["city"].isin(cities)])

# Subset temperatures_ind using .loc[]
print(temperatures_ind.loc[cities])

#### iii. Multi-Level indexing

In [ ]:
# Index temperatures by country & city
temperatures_ind = temperatures.set_index(["country","city"])

# List of tuples: Brazil, Rio De Janeiro & Pakistan, Lahore
rows_to_keep = [("Brazil", "Rio De Janeiro"), ('India', "Delhi")] 

# Subset for rows to keep
print(temperatures_ind.loc[rows_to_keep])

#### iv. Sorting by index

In [ ]:
print(temperatures_ind.sort_index(level = ["country","city"], ascending = [True,False]))

#### v. Slicing rows, or columns or both ways

```
Slice rows with code      --> df.loc[("a", "b"):("c", "d")].

Slice columns with code   --> df.loc[:, "e":"f"].

Slice both ways with code --> df.loc[("a", "b"):("c", "d"), "e":"f"]

```

#### v. Slicing Time Series

In [ ]:
# Use Boolean conditions to subset temperatures for rows in 2010 and 2011
temperatures_bool = temperatures[(temperatures["date"] >= "2010-01-01") & (temperatures["date"] <= "2011-12-31")]
print(temperatures_bool)

# Set date as the index and sort the index
temperatures_ind = temperatures.set_index("date").sort_index()

# Use .loc[] to subset temperatures_ind for rows in 2010 and 2011
print(temperatures_ind.loc["2010-01-01":"2011-12-31"])

# Use .loc[] to subset temperatures_ind for rows from Aug 2010 to Feb 2011
print(temperatures_ind.loc["2010-08-01":"2011-02-28"])

In [ ]:
# Get 23rd row, 2nd column (index 22, 1)
print(temperatures.iloc[22,2])

# Use slicing to get the first 5 rows
print(temperatures.iloc[:5])

# Use slicing to get columns 3 to 4
print(temperatures.iloc[:,2:4])

# Use slicing in both directions at once
print(temperatures.iloc[:5,2:4])

### d. Creating and Visualizing DataFrame

#### i. Visualizing groupby and plotting categories

Data looks as under

<img src="/Users/sidharthrao/Documents/Documents - Sidharth’s MacBook Pro/GitHub/Important_Scripts-Practice/1. DataCamp - Practice/Images/Data1
.png" width="500" height="300" alt="Description">

In [ ]:
# Get the total number of avocados sold of each size
nb_sold_by_size = avocados.groupby("size")["nb_sold"].sum()

# Create a bar plot of the number of avocados sold by size
nb_sold_by_size.plot(kind="bar")

# Show the plot
plt.show()

<img src="/Users/sidharthrao/Documents/Documents - Sidharth’s MacBook Pro/GitHub/Important_Scripts-Practice/1. DataCamp - Practice/Images/bar.svg" width="500" height="300" alt="Description">

In [ ]:
nb_sold_by_date = avocados.groupby("date")["nb_sold"].sum()

# Create a line plot of the number of avocados sold by date
nb_sold_by_date.plot(kind="line")

<img src="/Users/sidharthrao/Documents/Documents - Sidharth’s MacBook Pro/GitHub/Important_Scripts-Practice/1. DataCamp - Practice/Images/line.svg" width="500" height="300" alt="Description">

In [ ]:
avocados.plot(x="nb_sold", y="avg_price", kind="scatter", title="Number of avocados sold vs. average price")
plt.title("Number of avocados sold vs. average price")

# Show the plot
plt.show()

<img src="/Users/sidharthrao/Documents/Documents - Sidharth’s MacBook Pro/GitHub/Important_Scripts-Practice/1. DataCamp - Practice/Images/scat.svg" width="500" height="300" alt="Description">

In [ ]:
# Modify histogram transparency to 0.5 
avocados[avocados["type"] == "conventional"]["avg_price"].hist(alpha=0.5)

# Modify histogram transparency to 0.5
avocados[avocados["type"] == "organic"]["avg_price"].hist(alpha=0.5)

# Add a legend
plt.legend(["conventional", "organic"])

# Show the plot
plt.show()

<img src="/Users/sidharthrao/Documents/Documents - Sidharth’s MacBook Pro/GitHub/Important_Scripts-Practice/1. DataCamp - Practice/Images/hist-no overlap.svg" width="500" height="300" alt="Without Overlap">

Using alpha - 


<img src="/Users/sidharthrao/Documents/Documents - Sidharth’s MacBook Pro/GitHub/Important_Scripts-Practice/1. DataCamp - Practice/Images/WithOverlap.svg" width="500" height="300" alt="Without Overlap">

Hist with Bins

In [ ]:
# Modify bins to 20
avocados[avocados["type"] == "conventional"]["avg_price"].hist(alpha=0.5, bins = 20)

# Modify bins to 20
avocados[avocados["type"] == "organic"]["avg_price"].hist(alpha=0.5, bins = 20)

# Add a legend
plt.legend(["conventional", "organic"])

# Show the plot
plt.show()

#### ii. handling - Missing Value

In [ ]:
# Import matplotlib.pyplot with alias plt
import matplotlib.pyplot as plt

# Check individual values for missing values
print(avocados_2016.isna())

# Check each column for missing values
print(avocados_2016.isna().any())

# Bar plot of missing values by variable
avocados_2016.isna().sum().plot(kind="bar")

In [ ]:
# Remove rows with missing values
avocados_complete = avocados_2016.dropna()

# Check if any columns contain missing values
print(avocados_complete.isna().any())

## 4. Joining Data with Pandas

### a. Data Merge

#### i. Inner Join

In [ ]:
df_merged = df.merge(df_right, on = "common_column")


# we can have multiple common columns
df_merged = df.merge(df_right, on = ["common_column_1", "common_column_2"])

#### ii. Multiple Table merge

<img src="/Users/sidharthrao/Documents/Documents - Sidharth’s MacBook Pro/GitHub/Important_Scripts-Practice/1. DataCamp - Practice/Images/Relationship.png" width="500" height="300" alt="Description">

In [ ]:
ridership_cal_stations = ridership.merge(cal, on=['year','month','day']) \
							.merge(stations, on='station_id')

#### iii. One to many merges with multiple tables - Using suffixes

the suffixes parameter is very useful when you’re merging multiple DataFrames that might have columns with the same name.

In [ ]:
df_merged = land_use.merge(census, on = "ward").merge(licenses, on = "ward", suffixes = ["_cen", "_lic"])

#### iv. Left Join

Everything is the same as shown in inner join except ```how="left"``` is defined

In [ ]:
toystory_tag = toy_story.merge(taglines, on="id", how="left")

v. Outer Join 

 - Everything is the same as shown in inner join except ```how="right"``` is defined
 - it returns all rows from both merged tables and null where they do not match, you can use it to find rows that do not have a match in the other table

In [ ]:
action_scifi = action_movies.merge(scifi_movies, on = "movie_id", how = "right")

#### vi. Merging table to itself

 - Use the same dataframe with suffixes

In [ ]:
crews_self_merged = crews.merge(crews, on = "id", suffixes = ["_dir","_crew"])

### c. Advanced merging and concatenation

#### i. Performing an Anti Join

When you set ```indicator=True```, pandas will add a special column named "_merge" to the result of your merge.
This column tells you where each row came from:

 - ```"left_only"``` → row appears only in the left DataFrame (employees here).

 - ```"right_only"``` → row appears only in the right DataFrame (top_cust).

 - ```"both"``` → row had a match in both DataFrames.

In [ ]:
empl_cust = employees.merge(top_cust, on='srid', 
                                 how='left', indicator=True)

#### ii. Concatenating the data vertically -> ```pd.concat```

What ```sort=True``` Means

When the DataFrames don’t all have the same columns, pandas needs to reconcile column order.

"If there are mismatched columns across the DataFrames, sort the column names alphabetically in the result."

✅ It does not sort the rows by any column.
✅ It only affects the column labels order in the resulting DataFrame.

In [ ]:
# Concatenate the tracks
tracks_from_albums = pd.concat([tracks_master,tracks_ride,tracks_st],
                               sort=True)
print(tracks_from_albums)

Show data that are in all the tables ```join="inner"```

In [ ]:
# Concatenate the tracks, show only columns names that are in all tables
tracks_from_albums = pd.concat([tracks_master, tracks_ride, tracks_st],
                               join="inner",
                               sort=True)
print(tracks_from_albums)

#### iii. Concatenating with ```Keys```

 - It would create a new index column to help tag rows to understand which data frame the same has arrived from

In [ ]:
inv_jul_thr_sep = pd.concat([inv_jul, inv_aug,inv_sep], 
                            keys=['7Jul', '8Aug', '9Sep'])

Also has another parameter to help ignore index ```ignore_index=True```

### d. Merging Ordered and time-series data

#### i. merge_ordered()

```.merge()``` vs ```merge_ordered()```


<img src="/Users/sidharthrao/Documents/Documents - Sidharth’s MacBook Pro/GitHub/Important_Scripts-Practice/1. DataCamp - Practice/Images/merge vs merge_order.png" width="500" height="300" alt="Description">


<img src="/Users/sidharthrao/Documents/Documents - Sidharth’s MacBook Pro/GitHub/Important_Scripts-Practice/1. DataCamp - Practice/Images/Forward Fill.png" width="500" height="300" alt="Description">

In [ ]:
gdp_sp500 = pd.merge_ordered(gdp, sp500, left_on='year', right_on='date', how="left",fill_method='ffill')

# Merge gdp and pop on date and country with fill and notice rows 2 and 3
ctry_date = pd.merge_ordered(gdp, pop, on=["date", "country"],
                             fill_method='ffill')

#### ii. merge_asof() -> 

 - similar merge_ordered() left join and has similar features of merge_ordered()
  - What ever column it is merged on should be sorted, i.e ```on``` parameter column

In [ ]:
# Use merge_asof() to merge jpm and wells
jpm_wells = pd.merge_asof(jpm, wells, on = "date_time", suffixes = ("","_wells"), direction='nearest')


# Use merge_asof() to merge jpm_wells and bac
jpm_wells_bac = pd.merge_asof(jpm_wells, bac, on = "date_time", suffixes = ('_jpm', '_bac'), direction='nearest')

#### iii. ```.query()``` method

#### iv. ```.melt()``` method